<%= render "shared/header" %>
<div class="contents">
  <%# <% @tweets.each do |tweet| %>
  <div class="contents_post">
  </div>
  <div class="contents_post">
  </div>
  <div class="contents_post">
  </div>
  <div class="contents_post">
  </div>
  <div class="contents_post">
  </div>
  <div class="contents_post">
  </div>
  <div class="contents_post">
  </div>
  <div class="contents_post">
  </div>
  <div class="contents_post">
  </div>
  <%# <% end %>
</div>