.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: gray;

}
.contents_post {
  margin-top: 40px;
  width: 400px;
  height: 400px;
  background-color: greenyellow;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  box-sizing: border-box;
}

